.header {
    background-color: black;
    display: flex;
    color:lightgray;
    font-size: 15pt;
    height: 7.5vh;
    align-items: middle;
}

.header h1 {
    padding: 0;
    margin: 0;
    font-size: 6vh;
    line-height: 6vh;
    margin-top: 0.8vh;
    font-weight: normal;
}

.header p:hover{
    transition:1s;
    color:white;
}

.logo {
  height: 7.5vh;
  margin: 1.75vh;
}

.header img{
    height: 4vh;
}

h1 {
  margin: 1vh;
  font-weight: bold;
}


